<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="description" content="<%= seo_description %>">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:locale" content="es_ES">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= seo_title %>">
  <meta property="og:description" content="<%= seo_description %>">
  <meta property="og:site_name" content="<%= seo_title %>">
  <link rel="icon" type="image/png" href="https://ah-deploy.s3.eu-west-3.amazonaws.com/img/favicon-kobbok.webp">
  <title><%= seo_title %></title>
  <link rel="stylesheet" href="/public/reset.css">
  <link rel="stylesheet" href="/public/index.css">
</head>